@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2);
}
header {
  /* position: fixed; */
  width: 100%;
  text-align: center;
  color: black;
  transition: 0.4s;
}

header:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

h1 {
  font-family: Moderne Sans, sans-serif;
  text-align: center;
  font-size: 2rem;
  /* width: 100%; */
  letter-spacing: 0.5rem;
  padding-top: 0.8%;
  padding-bottom: 0.7%;
}
.maja {
  text-decoration: none;
  color: black;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.6rem;
}

h2 {
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 8vmin;
  text-align: center;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  color: #fff;
  font-weight: 100;
}

form {
  padding: 2rem;
  padding-top: 20px;
}
label,
input,
button {
  display: block;
  margin-bottom: 5px;
}
input {
  margin-bottom: 6px;
}
footer {
  border-top: solid 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
footer ol {
  list-style: none;
}
.kontakt {
  margin-top: 20px;
  text-align: right;
}
